<div class="modal fade" id="enterprise-payment-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Effectuer un Paiement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="loaner-container">
                <form class="" action="/api/v1/enterprises/<%= enterprise._id%>/payment" method="post" id="basic-info-form">
                    <div class="add-credit">
                        <div class="form-mb">
                            <label for="payment-date">Date</label>
                            <input type="date" name="payment-date" id="payment-date">
                        </div>
                        <div class="form-mb">
                            <label for="receiptNumber">No Recu</label>
                            <input type="text" name="receiptNumber" id="receiptNumber" placeholder="X0000000">
                        </div>
                        <div class="form-mb">
                            <label for="totalPayment">Montant du Paiement</label>
                            <input type="text" name="totalPayment" id="totalPayment" placeholder="100000.00">
                        </div>
                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Prenom</th>
                                <th scope="col">NIF</th>
                                <th scope="col">Montant Pret</th>
                                <th scope="col">Mensualite</th>
                                <th scope="col">Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let monthlyTotal = 0%>
                            <% let balanceTotal = 0%>
                            <% assurees.forEach((loan, i) => { %>
                                <tr>
                                    <td scope="row">
                                        <input type="checkbox" name="added" id="added">
                                    </td>
                                    <td> <%= loan.surname %> </td>
                                    <td> <%= loan.firstname %> </td>
                                    <td> <%= loan.assuree.nif %> </td>
                                    <td> <%= loan.finalAmount %> </td>
                                    <td> <%= loan.monthlyRemittance %> </td>
                                    <td> <%= loan.actualBalance %> </td>
                                </tr>
                                <% monthlyTotal += loan.monthlyRemittance %>
                                <% balanceTotal += loan.actualBalance %>
                            <% }); %> 
                        </tbody>
                        <tfoot>
                            <tr>
                                <th scope="row"></th>
                                <th></th>
                                <th></th>
                                <th>Total Mensuel:</th>
                    
                                <th><%= monthlyTotal %></th>
                                <th>Total Balance:</th>
                                <th><%= balanceTotal %></th>
                            </tr>
                        </tfoot>
                    </table>

                    <div class="add-credit" id="assuree-ref-cont">
                        <div class="form-mb">
                            <label for="assuree-nif">NIF/CIN</label>
                            <input type="text" name="assuree" id="assuree-nif" value="">
                        </div>
                        <div class="form-mb">
                            <label for="surname">Nom</label>
                            <input type="text" name="surname" id="surname" placeholder="Andre">
                        </div>
                        <div class="form-mb">
                            <label for="firstname">Prenom</label>
                            <input type="text" name="firstname" id="firstname" placeholder="Kenny">
                        </div>
                        <div class="form-mb">
                            <label for="phone">Tel</label>
                            <input type="text" name="phone" id="phone" placeholder="Andre">
                        </div>
                        <div class="form-mb">
                            <label for="address">Address</label>
                            <input type="text" name="address" id="address" placeholder="Kenny">
                        </div>
                        
                        <div class="form-mb">
                            <label for="immatriculation">Matricule</label>
                            <input type="text" name="immatriculation" id="immatriculation" placeholder="0000-000000-0000">
                        </div>
                    </div>
                    <div class="submit-cont">
                        <button type="submit" id="add-people">Ajouter Une autre Personne</button>
                        <button type="submit" id="btn-basic-next">Envoyer le Paiment</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
