<%- include('../includes/header'); -%>
    <%- include('../includes/nav'); -%>

    <div class="container serv-credit col-9 gap-3 px-0 py-2">
        <%- include('includes/credit-side'); -%>
        <div class="col-9 rounded-3 content p-2 gap-2">
            <div class="content-head d-flex flex-row align-items-center justify-content-between px-3 py-2">
                <div class="icn d-flex flex-row gap-3">
                    <img class="" src="icons/double-chevron-l.png" alt="" srcset="">
                    <div>25</div>
                    <img class="" src="icons/double-chevron.png" alt="" srcset="">
                </div>
                <form class="p-0" action="">
                    <input class="m-0 px-3 rounded-3" type="text" name="" id="">
                    <img src="icons/search-lookup.png" alt="" srcset="">
                </form>
            </div>
            <div class="container loaner-container ">
                <% loans.forEach((loan) => { %>
                    <div class="loan">
                        <div>
                            <div class="">
                                <p class="">Nom:</p>
                                <p class=""> <%= loan.surname %> </p>
                            </div>
                            <div class="">
                                <p class="">Prenom:</p>
                                <p class=""> <%= loan.firstname %> </p>
                            </div>
                            <div class="">
                                <p class="">Tel:</p>
                                <p class=""><%= loan.assuree.phone[0] %></p>
                            </div>
                            <div class="">
                                <p class="">Entreprise:</p>
                                <p class=""><%= loan.enterprise.businessName %></p>
                            </div>
                            <div class="">
                                <p class="">Date d'echeance:</p>
                                <p class=""> <%= loan.issued_date.toISOString().split('T')[0]; %> </p>
                            </div>
                            <div class="">
                                <p class="">Mensualite:</p>
                                <p class=""> <%= loan.monthlyRemittance %> </p>
                            </div>
                            <div class="">
                                <p class="">Balance:</p>
                                <p class=""> <%= loan.actualBalance %> </p>
                            </div>
                            <div class="">
                                <p class="">Nbre Retard:</p>
                                <p class="">0</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <a href="/credit/" id="edit-link"><img src="/icons/printer2.png" alt=""></a>
                            </div>
                            <div>
                                <a href="/credit/<%= loan._id %>"><img src="/icons/write.png" alt=""></a>
                            </div>
                        </div>                    
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

<%- include('../includes/footer'); -%>